In [3]:
import pandas as pd
import numpy as np
import ast,sys

In [22]:
df=pd.read_csv("https://media-doselect.s3.amazonaws.com/generic/X0kvr3wEYXRzONE5W37xWWYYA/test.csv")

In [23]:
input_str = "['PassengerId', 'Pclass', 'Name', 'Sex','Embarked']"

In [24]:
to_omit = ast.literal_eval(input_str)

In [25]:
df.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [26]:
df1=df.drop(to_omit, axis=1)

In [27]:
df1.sort_index(axis=1, inplace=True)

In [28]:
df1.head(5)

    Age Cabin     Fare  Parch  SibSp   Ticket
0  34.5   NaN   7.8292      0      0   330911
1  47.0   NaN   7.0000      0      1   363272
2  62.0   NaN   9.6875      0      0   240276
3  27.0   NaN   8.6625      0      0   315154
4  22.0   NaN  12.2875      1      1  3101298

In [29]:
series1=pd.Series([1,2,3,4,5,6,7])
series2=pd.Series([1,3,7])

In [35]:
out_list=series1.iloc[series1.tolist()]

IndexError: positional indexers are out-of-bounds

In [32]:
out_list

False

In [ ]:
print(list(map(int,out_list)))#do not alter this step, list must be int type for evaluation purposes

In [56]:
df=pd.read_csv("https://media-doselect.s3.amazonaws.com/generic/8NMooe4G0ENEe8z9q5ZvaZA7/googleplaystore.csv")

In [60]:
df.Installs=df.Installs.apply(lambda x : str(x).replace("+",""))
df.Installs=df.Installs.apply(lambda x : str(x).replace(",",""))
df=df[df["Installs"]!="Free"]

In [62]:
df.Installs=df.Installs.apply(lambda x : int(x))

C:\Users\droid\AppData\Roaming\Python\Python310\site-packages\pandas\core\generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [63]:
print(df.corr())

            Rating  Installs
Rating    1.000000  0.051355
Installs  0.051355  1.000000

In [95]:
input_string = "I am now a master of Logistic regression"

In [96]:
split_string=input_string.split(" ")

In [97]:
out_string=""

In [98]:
for i in range(len(split_string)):
    out_string+=str(split_string[i]).capitalize()+" "

In [102]:
out_string.strip()

'I Am Now A Master Of Logistic Regression'

In [103]:
print(str(out_string))

I Am Now A Master Of Logistic Regression

In [149]:
input_list="[6,6,6,6,6,6]"
input_list = ast.literal_eval(input_list)

In [150]:
input_list

[6, 6, 6, 6, 6, 6]

In [151]:
o_len=len(input_list)
input_list=list(set(input_list))

In [152]:
input_list

[6]

In [154]:
for i in range(len(input_list)):
   input_list[i]=int(input_list[i])
input_list.sort()

In [155]:
input_list

[6]

In [163]:
s_len=len(input_list)

In [164]:
s_len

1

In [165]:
if(s_len>1):
    print(input_list[s_len-2])
else:
    print("not present")

not present

In [71]:
wholesale = pd.read_csv('https://media-doselect.s3.amazonaws.com/generic/OkbnaOBqrBXZOpRQw1JGMgaM9/Wholesale_Data.csv')

In [78]:
print(wholesale['Channel'].unique())

['Cafe' 'Hotel' 'Restaurant']

In [73]:
channel_map={"H" : "Hotel", "R" : "Restaurant" , "C" : "Cafe"}

In [77]:
wholesale.head()

   Fresh  Milk  Grocery  Frozen  Detergents_Paper  Delicassen Channel
0  12669  9656     7561     214              2674        1338    Cafe
1   7057  9810     9568    1762              3293        1776   Hotel
2   6353  8808     7684    2405              3516        7844   Hotel
3  13265  1196     4221    6404               507        1788    Cafe
4  22615  5410     7198    3915              1777        5185   Hotel

In [75]:
wholesale.Channel=wholesale.Channel.apply(lambda x : (str(x)[0]))

In [76]:
wholesale['Channel']=wholesale['Channel'].map(channel_map)

In [4]:
wholesale = pd.read_csv('https://media-doselect.s3.amazonaws.com/generic/OqwpypRKN09x5GYej2LvVrprn/Wholesale_Data_Cleaned.csv')

In [5]:
wholesale.columns

Index(['Fresh', 'Milk', 'Grocery', 'Frozen', 'Detergents_Paper', 'Delicassen',
       'Channel'],
      dtype='object')

In [57]:
wholesale['sale']=wholesale.Fresh+ wholesale.Milk+wholesale.Grocery+wholesale.Frozen+wholesale.Detergents_Paper+wholesale.Delicassen

In [58]:
channel_sale=wholesale.groupby('Channel',as_index=False).agg(np.sum)

In [59]:
channel_sale.head()

,Channel,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicassen,sale,Total Sales
0,Cafe,1348274,773080,973308,271831,365372,164147,3896012,3896012
1,Hotel,1682068,735817,1001518,472713,363799,245814,4501729,4501729
2,Restaurant,795696,408249,635229,246290,238404,91488,2415356,2415356

In [60]:
channel_sale=channel_sale.sort_values(by="sale",ascending = True,inplace = False)

In [61]:
#channel_sale.reset_index()

In [64]:
print(channel_sale.Channel.values[0])

Restaurant

In [63]:
wholesale['Total Sales']=wholesale['Delicassen']+wholesale['Detergents_Paper']+wholesale['Fresh']+wholesale['Frozen']+wholesale['Grocery']+wholesale['Milk']

wholesale_0=wholesale.groupby(['Channel']).sum()

min_value=wholesale_0[['Total Sales']].idxmin()

print(min_value)

Total Sales    Restaurant
dtype: object